#logo{
	background-color: red;
}

#Banner{
	background-color: cyan;
}
#Socialmedia{
	background-color: orange;
}
#brand{
	background-color: #ccc;

}
#navigation{
	background-color:blue;
}
#Search{
	background-color: grey;
}
#slider{
	background-color: skyblue;
	height: 300px;
}

#brand1{
	background-color: #ccc;

}
#navigation1{
	background-color:blue;
}
#Search1{
	background-color: grey;
}

#sliders{
	background-color: green;
	height: 300px;
}
